body {
    background-color: #f0f0f0; /* Колір фону сторінки */
    font-family: Arial, sans-serif; /* Шрифт */
    margin: 0; /* Видаляємо відступи */
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Розтягуємо сторінку на весь екран */
    background-image: url('https://static.vecteezy.com/system/resources/previews/007/188/453/original/abstract-blur-background-with-pastel-color-free-vector.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    background-color: #7FB5B5; /* Зелений фон форми */
    padding: 20px; /* Внутрішні відступи форми */
    border-radius: 8px; /* Закруглення кутів форми */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тінь форми */
    width: 300px; /* Ширина форми */
}

h1 {
    color: white; /* Білий колір тексту заголовка */
    text-align: center; /* Центрування заголовка */
}

label {
    display: block;
    margin-bottom: 10px; /* Відстань між міткою і полем вводу */
    color: white; /* Білий колір тексту мітки */
}

input {
    width: 100%; /* Розтягуємо поле вводу на всю ширину форми */
    padding: 8px; /* Внутрішні відступи поля вводу */
    margin-bottom: 15px; /* Відстань між полями вводу */
    box-sizing: border-box; /* Враховуємо відступи і границі в загальну ширину */
    border-radius: 7px;
}

button {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: large;
    background-color: #4d8082; /* Зелений колір кнопки */
    color: white; /* Білий колір тексту кнопки */
    padding: 10px; /* Внутрішні відступи кнопки */
    border: none; /* Позбавляємо границю у кнопки */
    border-radius: 4px; /* Закруглення кутів кнопки */
    cursor: pointer; /* Задаємо вказівник при наведенні на кнопку */
    width: 100%; /* Розтягуємо кнопку на всю ширину форми */
    /* Додаємо стилі для hover (наведення) */
    transition: background-color 0.3s; /* Плавне змінення колір фону при hover */
}

button:hover {
    background-color: #223f40; /* Новий колір фону при hover */
}

.warning {
    color: #dc3545; /* Червоний колір тексту предупреждення */
    margin-top: 10px; /* Відстань від предупреждення до інших елементів */
}

/* Стилі для блока з посиланням на вхід */
p {
    text-align: center;
    margin-top: 20px;
    color: #333; /* Колір тексту */
    background-color: #f8f9fa; /* Фон для підвищення видимості тексту */
    padding: 10px; /* Внутрішні відступи */
    border-radius: 8px; /* Закруглення кутів блоку з текстом */
    border: 2px solid black; /* Чорна обводка блока з текстом */
}

a {
    color: #007bff; /* Колір посилання */
    text-decoration: none; /* Відміна підчеркування посилання */
}

a:hover {
    text-decoration: underline; /* Підчеркування при наведенні на посилання */
}