body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-image: url('https://static.vecteezy.com/system/resources/previews/007/188/453/original/abstract-blur-background-with-pastel-color-free-vector.jpg');
    background-size: cover;
    background-position: center;
}

.header {
    background-color: #957DAD;
    color: white;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #6c5b7d;
}

h1 a {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-size: xxx-large;
    color: white;
    text-decoration: none;
    margin-top: 20px;
}

p {
    margin-bottom: 20px;
}

button {
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.add-schedule-btn,
.view-schedule-btn,
.logout-btn,
.search-btn{
    padding: 15px;
    font-size: 16px;
    margin-bottom: 10px;
}

.add-schedule-btn,
.view-schedule-btn,
.search-btn{
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-size: large;
    background-color: #645673;
    color: white;
    border: 2px solid #40374a;
    border-radius: 8px;
}

.add-schedule-btn:hover,
.view-schedule-btn:hover,
.search-btn:hover{
    background-color: #453b4f;
}

.search-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-label {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 10px;
}

.search-input {
    padding: 10px;
    width: 300px;
    margin-bottom: 10px;
}

#scheduleContainer {
    margin-top: 20px;
}

table {
    width: 70%;
    margin-top: 20px;
    border-collapse: separate;
    border-spacing: 0;
}

th, td {
    padding: 15px;
    text-align: left;
    border: 1.5px solid black;
}


th {
    background-color: #645673;
    color: white;
}

tr {
    background-color: #f2f2f2;
}


input{
    border-radius: 7px;
}